.slider {
    display: flex;
    
    /**
    Uncomment 'justify-content' below to center horizontally.
    ✪ Read below for a better way to center vertically and horizontally.
    **/

    /* justify-content: center; */
    align-items: center;
    position: relative;
}


.slider  img {
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

/* make button larger and change their positions */
.slick-prev,
.slick-next {
    width: 50px;
    height: 50px;
    color: black;
    z-index: 100;
}

.slick-prev {
    left: 5px;
}

.slick-next {
    right: 5px;
}

/* ============  */

 .slider-thumbnails {
    margin-left: -15px;
    margin-right: -15px;
}

.slider-thumbnails .slick-slide {
    padding: 15px;
    transition: transform 0.3s ease-out;
}

.slider-thumbnails .slick-slide:focus img {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.slider-thumbnails .slick-slide img {
    max-width: 100%;
    border: solid 5px #fff;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-out;
    border-radius: 3px;
}  