/* percoveran  */
.stop-scrolling {
  height: 100%;
  overflow-y: hidden;
}


h1 {
  font-weight: bold;
  letter-spacing: 0.125rem;
  font-family: 'Dancing Script', cursive;  
  font-weight: 700;

}

h2 {
  font-weight: bold;
  letter-spacing: 0.125rem;
  font-family: americanb;
}

#font2 {
  font-weight: normal;
}

.lead {
  letter-spacing: 0.125rem;
  color: #9e5a3f;
  font-size: 20pt;
  font-weight: 700;
  font-family: 'Dancing Script', cursive;  

}

.display-3{
  color: #9e5a3f;
  font-weight: 700;


}

/* ============ cover undangan ============= */
.cover-undangan {
  background-color: #d8dbd9;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  position: fixed;
  z-index: 9999;
  border: 3px solid #9e5a3f;
  background-image: url("img/bg3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.cover-undangan.hide {
  transition: opacity 2s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.cover-undangan button {
  font-weight: bold;
  font-family: handy;
  box-shadow: 5px 10px 18px #888888;
}



/* =================== Sampul ================ */
#sampul {
  max-width: 400px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
  margin-bottom: 20px;
  border-radius: 0 0 3rem 3rem;

}

.bg-sampul {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
  background-image: url("img/bg3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* @media screen and (min-width: 576px) {
  .bg-sampul {
    padding-top: 100px;
  }
}

@media screen and (min-width: 767px) {
  .bg-sampul {
    padding-top: 100px;
  }
} */



.cover-border {
  height: 250px;
  width: 250px;
  margin-left: -120px;
  margin-top: -20px;
  position: absolute;
}

.cover-foto {
  height: 160px;
  width: 160px;
  /* border-radius: 100%; */
  -webkit-filter: grayscale(20%);
  -moz-filter: grayscale(20%);
  -o-filter: grayscale(20%);
  -ms-filter: grayscale(20%);
  filter: grayscale(20%);
  object-fit: cover;
  position: relative;
}

/* ============= mempelai =================== */
#mempelai {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f5f5dc;
  position: relative;
  margin-top: 20px;
  border-radius: 0 0 3rem 3rem;
}
.bg-mempelai {
 
  background-image: url("img/bg3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* =============== quotes ================ */
#quotes {
  max-width: 400px;
  /* margin: 0 auto; */
  margin: 20px auto;
  position: relative;
  background-image: url("img/bg3.png");
  background-position: center;
  font-style: italic;
  border-radius: 25px;

}

.frame-quote {
  border: 3px solid #9e5a3f;
  border-radius: 25px;
  position: relative;
  z-index: 9;
}

/* ============= Acara =================== */
#acara {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f5f5dc;
  position: relative;
  border-radius: 3rem 3rem 0 0;
}

.frame-acara {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: transparent;
  border: 3px solid #9e5a3f;
  border-radius: 25px;
  
  position: relative;
  z-index: 9;
}

/* ============= galery =================== */
#gallery {
  max-width: 400px;
  margin: 0 auto;
  position: relative;
}

/* ============= Cerita =================== */
#cerita {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f5f5dc;
  position: relative;
  border-radius: 0 0 3rem 3rem;

}

/* ============= ucapan =================== */
#komentar {
  max-width: 400px;
  background-color: #f5f5dc;
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
}

/* ============= Gift =================== */
#gift {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f5f5dc;
  position: relative;
  margin-top: 20px;
  border-radius: 3rem 3rem 0 0;
}
#card-gift {
    border: 1px solid #9e5a3f;
    padding: 10px;
    box-shadow: 0 5px 5px 5px #9f6e5a;
    text-align: center;
  }

/* ============= penutup =================== */
#penutup {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f5f5dc;
  height: 100vh;
  margin-top: 20px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 3rem 3rem 3rem 3rem;

}

/* ============= footer =================== */
#footer {
  height: 15vh;
  position: relative;

}




/* ============== bingkai ================ */
.borid {
  margin-left: 10px;
  margin-right: 10px;
}
#bingkai-atas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

#bingkai-bawah {
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 0;
  right: 0;
}

#bingkai-kiri-bawah {
    position: absolute;
    left: 0;
    pointer-events: none;
    bottom: 0;
}

#bingkai-kiri-atas {
    position: absolute;
    left: 0;
    pointer-events: none;
    top: 0;
}

#bingkai-kanan-atas {
  position: absolute;
  right: 0;
  pointer-events: none;
  top: 0;

}

#bingkai-kanan-bawah {
    position: absolute;
    right: 0;
    pointer-events: none;
    bottom: 0;
    
}

.frame {
  padding-top: 80px;
  padding-bottom: 100px;
  /* border: 3px solid #63878c;
  border-radius: 25px; */
  position: relative;
  z-index: 9;
}



/* ============ cut down =========== */
#cutd {
  display: inline-block;
  font-size: 1em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  font-family: cinzel-reg;
  color: #9e5a3f;
}

#cutd span {
  display: block;
  font-size: 2.5rem;
  font-family: cinzel-reg;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 0.5rem;
}

@media all and (max-width: 768px) {
  h1 {
      font-size: calc(1.5rem * var(--smaller));
  }

  li {
      font-size: calc(1.125rem * var(--smaller));
  }

  li span {
      font-size: calc(3.375rem * var(--smaller));
  }
}

/* animasi button */

.buka {
  color: #8f5117;
  opacity: 1;
  -webkit-animation: bounce 0.5s infinite alternate;
  -moz-animation: bounce 0.5s infinite alternate;
  animation: bounce 0.5s infinite alternate;
}
@-webkit-keyframes bounce {
  to {
    -webkit-transform: scale(1.2);
  }
}
@-moz-keyframes bounce {
  to {
    -moz-transform: scale(1.2);
  }
}
@keyframes bounce {
  to {
    transform: scale(1.2);
  }
}

.kc_fab_main_btn {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 999;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
}