/* ======== START MENU CERITA ======= */

.main-timeline {
    position: relative;
    transition: all 0.4s ease 0s;
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.main-timeline:before {
    content: "";
    width: 2px;
    height: 100%;
    background: #9e5a3f;
    position: absolute;
    top: 0;
    left: 50%;
}

.main-timeline .timeline {
    position: relative;
}

.main-timeline .timeline:before,
.main-timeline .timeline:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-timeline .timeline-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fffcf5;
    border: 2px solid #9e5a3f;
    position: absolute;
    top: 0;
    left: 1px;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
}

.main-timeline .timeline-content {
    width: 45%;
    padding: 15px 15px 10px 0px;
    border-radius: 1px;
    text-align: right;
    -webkit-box-shadow: 0 2px 0 #9e5a3f;
    -moz-box-shadow: 0 2px 0 #9e5a3f;
    -ms-box-shadow: 0 2px 0 #9e5a3f;
    transition: all 0.3s ease 0s;
}

.main-timeline .date {
    display: inline-block;
    font-size: 12px;
    font-weight: 300;
    color: #fffcf5;
    padding: 10px 20px;
    background: #9e5a3f;
    border-radius: 18px;
}

.main-timeline .title {
    font-size: 15px;
    font-weight: bold;
    color: #9e5a3f;
    margin-top: 15px;
}

.main-timeline .description {
    font-size: 15px;
    color: #9e5a3f;
    text-align: justify;
}

.main-timeline .timeline-content.right {
    float: right;
    text-align: left;
}

@media only screen and (max-width: 767px) {
    .main-timeline:before {
        left: 0;
    }
    .main-timeline .timeline-icon {
        left: -8px;
        margin: 0;
    }
    .main-timeline .timeline-content {
        width: 90%;
        float: right;
        text-align: left;
    }
}