.bodykomen {
  padding: 5px;
  display: block;
  margin-top: 5px;
  height: 350px;
  overflow: auto;
}

.komen {
  /* display: none; */
}

.komen-nama {
  font-weight: bold;
  color: #ffff;
  font-size: 10pt;
}

.comments {
  margin-top: 5%;
  margin-left: 20px;
}

.darker {
  border: 1px solid #ecb21f;
  background-color: black;
  float: left;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 10px;
}

.comment {
  min-width: 250px;
  background-color: #304343f8;
  float: left;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 10px;
  
}

.comment h4,
.comment span,
.darker h4,
.darker span {
  display: inline;
}

.comment p,
.comment span,
.darker p,
.darker span {
  color: rgb(184, 183, 183);
}


input[type="text"]
{
    font-size:12px;
}

