/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&family=Roboto+Condensed&display=swap");

@font-face {
  font-family: handy;
  src: url(font/Handycheera-Regular.otf);
}

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 2rem;

  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;
  --first-color: hsl(var(--hue), var(--sat), 40%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #fff;

  /*========== Font and typography ==========*/
  --body-font: "Open Sans", sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: 0.938rem;
  --tiny-font-size: 0.625rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: "Roboto Condensed", sans-serif;
  color: #c47832;
  background-color: #c47832;
}

#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: #FFF;
  background-image: url("../../../base/loading.gif");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
}


h1 {
  font-weight: bold;
  letter-spacing: 0.125rem;
  font-family: handy;
}

h2 {
  font-weight: bold;
  letter-spacing: 0.125rem;
  font-family: handy;
}

#font2 {
  font-weight: normal;
  font-family: opensans-light;
}

.lead {
  font-weight: bold;
  letter-spacing: 0.125rem;
  font-family: handy;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

  /*=============== NAV ===============*/  

  .nav__menu {
    
    max-width: 400px;
    margin: 0 auto;
      position: fixed;
      left: 0;
    right: 0;
        bottom: 0;
      /* margin-left: 10px auto; */
      padding-right: 30px;
      background-color:#f5f5dc;
      box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
      width: 95%;
      height: 4rem;
      display: grid;
      align-content: center;
      border-radius: 1rem 1rem 1rem 1rem;
      transition: 0.4s;
      z-index: 999;
    }
  
    .nav__list, 
    .nav__link {
      display: flex;
    }
    
    .nav__link {
      flex-direction: column;
      align-items: center;
      color: var(--title-color);
      font-weight: 600;
    }
    
    .nav__list {
      margin-bottom: -10px;
      justify-content: space-around;
    }
    
    .nav__name {
      font-size: var(--tiny-font-size);
      /* display: none;*/ /* Minimalist design, hidden labels */
    }
    
    .nav__icon {
      font-size: 2.5rem;
    }
    
    .nav__icon:active {
        transform: scaleY(1.2);
  
    }
    
  
  
    /*=============== MEDIA QUERIES ===============*/
  /* For small devices */
  /* Remove if you choose, the minimalist design */
  @media screen and (max-width: 320px) {
      .nav__name {
        display: none;
      }
    }
    
    
  
  
  /*=============== REUSABLE CSS CLASSES ===============*/
  .section {
    padding: 4.5rem 0 2rem;
  }
  
  .section__title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .section__height {
    height: 100vh;
  }

  


