
/* percoveran  */
.stop-scrolling {
  height: 100%;
  overflow-y: hidden;
}

.cover-undangan {
  background-color: #d8dbd9;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  border: 3px solid #c47832;
  background-image: url("img/cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.cover-undangan.hide {
  transition: opacity 1s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.cover-undangan button {
  font-weight: bold;
  font-family: handy;
  box-shadow: 5px 10px 18px #888888;
}

#sampul {
  background-image: url("img/cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.bg-sampul {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
  background-image: url("img/cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#mempelai {
  background-image: url("img/cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#bingkai-kiri-atas {
  position: absolute;
  left: 0;
  pointer-events: none;
  top: 0;
  transform: rotate(180deg);
}

#bingkai-kiri-bawah {
  position: absolute;
  left: 0;
  pointer-events: none;
  bottom: 0;
  z-index: 10;
  transform: rotate(180deg);
}

#bingkai-kanan-atas {
  position: absolute;
  right: 0;
  pointer-events: none;
  top: 0;
  z-index: 10;
}

#bingkai-kanan-bawah {
  position: absolute;
  pointer-events: none;
  right: 0;
  bottom: 0;
}

#acara {
  position: relative;
  background-image: url("img/cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#gallery {
  position: relative;
  background-image: url("img/cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#cerita {
  position: relative;
  background-image: url("img/cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#komentar {
  position: relative;
  background-image: url("img/cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#gift {
  background-image: url("img/cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#card-gift {
  border: 1px solid #c47832;
  padding: 10px;
  box-shadow: 0 5px 5px 5px #ce8e52;
  text-align: center;
}


#quotes {
  position: relative;
  background-image: url("img/cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-style: italic;
} 

#penutup {
  background-image: url("img/cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  margin-bottom: 20px;
  border-radius: 3rem 3rem 3rem 3rem;
}

/* ============= footer =================== */
#footer {
  height: 15vh;
  position: relative;

}

.borid {
  margin-left: 10px;
  margin-right: 10px;
}

.frame {
  padding-top: 80px;
  padding-bottom: 100px;
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  border: 3px solid #c47832;
  border-radius: 25px;
  position: relative;
  z-index: 9;
}

.framepay {
  padding-top: 80px;
  padding-bottom: 100px;
  border: 3px solid #406b62;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
}

.frame-acara {
  border: 3px solid #c47832;
  position: relative;
  border-radius: 25px;
  padding-bottom: 20px;
}

.frame-acara-detail {
  border: 1px solid #c47832;
  position: relative;
  border-radius: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}

td {
  vertical-align: top;
  text-align: left;
  padding-left: 10px;
}

.maps {
  margin-top: 10px;
  padding: 10px;
}


/* cut down */
#cutd {
  display: inline-block;
  font-size: 0.2em;
  list-style-type: none;
  padding: 1.0em;
  color: #f6a454;
}

#cutd span {
  display: block;
  font-size: 1.5rem;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 0.5rem;
}


.count-down-container {
  overflow: hidden;
  display: flex;
}
.count-down-box {
  place-items: center;
  text-align: center;
  display: grid;
  padding: 5px;
  width: 50px;
  background-color: #c47832;
  border: solid #c47832;
  color: white;
}


@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }

  li {
    font-size: calc(1.125rem * var(--smaller));
  }

  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}




#dompet {
  border-radius: 25px;
  background-image: url("../../base/img/card-back.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.kc_fab_main_btn {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 999;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
}


html {
  scroll-behavior: smooth;
}

/* animasi button */

.buka {
  color: #8f5117;
  opacity: 1;
  -webkit-animation: bounce 0.5s infinite alternate;
  -moz-animation: bounce 0.5s infinite alternate;
  animation: bounce 0.5s infinite alternate;
}
@-webkit-keyframes bounce {
  to {
    -webkit-transform: scale(1.2);
  }
}
@-moz-keyframes bounce {
  to {
    -moz-transform: scale(1.2);
  }
}
@keyframes bounce {
  to {
    transform: scale(1.2);
  }
}
