.bodykomen {
    padding: 5px;
    display: block;
    margin-top: 5px;
    height: 350px;
    overflow: auto;
  }
  
  .komen {
    /* display: none; */
  }
  
  .komen-nama {
    font-weight: bold;
    color: #5e6661;
    font-size: 10pt;
  }
  
  .comments {
    margin-top: 5%;
    margin-left: 20px;
  }
  
  .darker {
    border: 1px solid #f5f5dc;
    background-color: #cfcfc5;
    float: right;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px;
  }
  
  .comment {
    min-width: 250px;
    border: 1px solid #f5f5dc;
    background-color: #c1c1b2;
    float: left;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px;
  }
  
  .comment h4,
  .comment span,
  .darker h4,
  .darker span {
    display: inline;
    color: #5e6661;

  }
  
  .comment p,
  .comment span,
  .darker p,
  .darker span {
    color: #5e6661;
  }

  
input[type="text"]
{
    font-size:12px;
}