/* percoveran  */
.stop-scrolling {
  height: 100%;
  overflow-y: hidden;
}

h1 {
  font-weight: bold;
  letter-spacing: 0.125rem;
  font-family: gabelisa;
}

h2 {
  font-weight: bold;
  letter-spacing: 0.125rem;
  font-family: gabelisa;
}


h3 {
  font-weight: bold;
  letter-spacing: 0.125rem;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

#font2 {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

.nama {
  line-height: 150%;
}

.lead {
  font-family: gabelisa;
  font-weight: bold;
  letter-spacing: 0.125rem;
  color: #5e6661;
  font-size:30pt;
}

.firplay {
  font-family: 'Playfair Display', serif;  
  letter-spacing: 0.125rem;
  color: #cea656;
  font-size:30pt;
}

.display-3{
  color: #5e6661;
  font-size: small;

}


.cover-undangan {
  background-color: #d8dbd9;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  position: fixed;
  z-index: 9999;
  border: 3px solid #5e6661;
  background-image: url("img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.cover-undangan.hide {
  transition: opacity 2s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.cover-undangan button {
  font-weight: bold;
  font-family: gabelisa;
  box-shadow: 5px 10px 18px #5e6661;
}


/* =================== Sampul ================ */
.mask-layer {
      -webkit-mask-image: url("img/mask-2.png");
      mask-image: url("img/mask-2.png");
      -webkit-mask-size: 150% 150%;
      mask-size: 150% 150%; 
      -webkit-mask-position: center;
      mask-position: center;
  }

  .mask-layer-mempelai {
    -webkit-mask-image: url("img/mask-2.png");
    mask-image: url("img/mask-2.png");
    -webkit-mask-size: 150% 150%;
    mask-size: 150% 150%; 
    -webkit-mask-position: center;
    mask-position: center;
}

#sampul {
  max-width: 400px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
  background-image: url("img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



.bg-sampul {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;

}


/* ============= mempelai =================== */
#mempelai {
  position: relative;
  max-width: 400px;
  margin: 0 auto;

  /* border-radius: 0 0 3rem 3rem; */
}
.bg-mempelai {
 
  background-image: url("img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* =============== quotes ================ */
#quotes {
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  background-image: url("img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-style: italic;

}

.frame-quote {
  background-color: transparent;
  border: 3px solid #5e6661;
  border-radius: 25px;
  position: relative;
  z-index: 9;
}

/* ============= Acara =================== */
#acara {
  max-width: 400px;
  margin: 0 auto;
  background-image: url("img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.frame-acara {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: transparent;
  border: 3px solid #5e6661;
  border-radius: 25px;
  
  position: relative;
  z-index: 9;
}

/* ============= galery =================== */
#galery {
  max-width: 400px;
  margin: 0 auto;
  max-width: 640px;
  margin: 0 auto;
  position: relative;
  margin-top: 20px;
  border-radius: 3rem 3rem 3rem 3rem;
}

/* ============= Cerita =================== */
#cerita {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f5f5dc;
  position: relative;
  border-radius: 0 0 3rem 3rem;

}

/* ============= ucapan =================== */
#komentar {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f5f5dc;
  position: relative;
  margin-top: 20px;
}

.bg-komentar {
  border-radius: 3rem 3rem 3rem 3rem;
  background-image: url("img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* ============= Gift =================== */
#gift {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f5f5dc;
  position: relative;
  margin-top: 20px;
  border-radius: 3rem 3rem 0 0;
}
#card-gift {
    border: 1px solid #5e6661;
    padding: 10px;
    box-shadow: 0 5px 5px 5px #5e6661;
    text-align: center;
  }

/* ============= penutup =================== */
#penutup {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f5f5dc;
  height: 100vh;
  margin-top: 20px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 3rem 3rem 3rem 3rem;

}

/* ============= footer =================== */
#footer {
  height: 15vh;
  position: relative;

}




/* ============== bingkai ================ */
.borid {
  margin-left: 10px;
  margin-right: 10px;
}

#bingkai-atas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

#bingkai-bawah {
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 0;
  right: 0;
}

#bingkai-kiri-bawah {
    position: absolute;
    left: 0;
    pointer-events: none;
    bottom: 0;
}

#bingkai-kiri-atas {
    position: absolute;
    left: 0;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);    
    pointer-events: none;
    top: 0;
}

#bingkai-kiri-atas2 {
  position: absolute;
  left: 0;
  pointer-events: none;
  top: 0;
}

#bingkai-kanan-atas2 {
  position: absolute;
  right: 0;
  pointer-events: none;
  top: 0;

}

#bingkai-kanan-atas {
  position: absolute;
  right: 0;
  pointer-events: none;
  top: 0;

}

#bingkai-kanan-bawah {
    position: absolute;
    right: 0;
    pointer-events: none;
    bottom: 0;
    
}

.frame {
  padding-top: 80px;
  padding-bottom: 100px;
  /* border: 3px solid #63878c;
  border-radius: 25px; */
  position: relative;
  z-index: 9;
}



/* ============ cut down =========== */
#cutd {
  display: inline-block;
  font-size: 0.2em;
  list-style-type: none;
  padding: 1.0em;
  color: #5e6661;
}

#cutd span {
  display: block;
  font-size: 1.5rem;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 0.5rem;
}


.count-down-container {
  overflow: hidden;
  display: flex;
}
.count-down-box {
  place-items: center;
  text-align: center;
  display: grid;
  padding: 5px;
  width: 50px;
  background-color: #5e6661;
  border: solid #cea656;
  color: white;
}

@media all and (max-width: 768px) {
  h1 {
      font-size: calc(1.5rem * var(--smaller));
  }

  li {
      font-size: calc(1.125rem * var(--smaller));
  }

  li span {
      font-size: calc(3.375rem * var(--smaller));
  }
}

/* animasi button */

.buka {
  color: #8f5117;
  opacity: 1;
  -webkit-animation: bounce 0.5s infinite alternate;
  -moz-animation: bounce 0.5s infinite alternate;
  animation: bounce 0.5s infinite alternate;
}
@-webkit-keyframes bounce {
  to {
    -webkit-transform: scale(1.2);
  }
}
@-moz-keyframes bounce {
  to {
    -moz-transform: scale(1.2);
  }
}
@keyframes bounce {
  to {
    transform: scale(1.2);
  }
}

.kc_fab_main_btn {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 999;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
}