

/*=============== FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;
  --first-color: hsl(var(--hue), var(--sat), 40%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --tiny-font-size: .625rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
  
@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
}
  
/*=============== BASE ===============*/
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: Cambria, Georgia, serif;
    color: #ac4e40;
    background-color: #ac4e40;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    color: inherit;
  }

  
  #loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: #FFF;
    background-image: url("../../../base/loading.gif");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
  }
    
  /*=============== NAV ===============*/  

  .nav__menu {
    max-width: 400px;
    margin: 0 auto;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    /* margin-left: 10px; */
    padding-right: 30px;
    background-color:#efe8e4;
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 95%;
    height: 4rem;
    display: grid;
    align-content: center;
    border-radius: 1rem 1rem 1rem 1rem;
    transition: 0.4s;
    z-index: 999;
  }

  .nav__list, 
  .nav__link {
    display: flex;
  }
  
  .nav__link {
    flex-direction: column;
    align-items: center;
    color: var(--title-color);
    font-weight: 600;
  }
  
  .nav__list {
    margin-bottom: -10px;
    justify-content: space-around;
  }
  
  .nav__name {
    font-size: var(--tiny-font-size);
    /* display: none;*/ /* Minimalist design, hidden labels */
  }
  
  .nav__icon {
    font-size: 2.5rem;
  }
  
  .nav__icon:active {
      transform: scaleY(1.2);

  }
  


  /*=============== MEDIA QUERIES ===============*/
/* For small devices */
/* Remove if you choose, the minimalist design */
@media screen and (max-width: 320px) {
    .nav__name {
      display: none;
    }
  }
  
  /* For medium devices
  @media screen and (min-width: 576px) {
    .nav__list {
      justify-content: center;
      column-gap: 3rem;
    }
  } */
  
  /* @media screen and (min-width: 767px) {
    .nav {
      height: calc(var(--header-height) + 1.5rem);
    }
    
    .nav__name {
      font-size: var(--normal-font-size);
    }

    .icon-love {
      font-size:30px;
    }
  } */


  /* For large devices */
  /* @media screen and (min-width: 1024px) {
    .container {
      margin-left: auto;
      margin-right: auto;
    }
  } */


/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.section__height {
  height: 100vh;
}


