/*================ Gallery Konten =====================*/

.gallery-section {
    padding-top: 15px;
    padding-bottom: 0;
  }
  
  .youtube {
    padding: 0px 8px 0px 8px;
    margin-bottom: 25px;
    /*width: 360px;*/
  }
  
  .gallery-section .gallery-grids .grid {
    width: calc(50% - 15px);
    margin: 0 7.5px 105px;
    float: left;
    overflow: hidden;
    border: 10px solid #fff;
    position: relative;
  }
  
  
  
  .gallery-section .grid img {
    -webkit-filter: grayscale(50%);
    -moz-filter: grayscale(50%);
    -o-filter: grayscale(50%);
    -ms-filter: grayscale(50%);
    filter: grayscale(50%);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 200px;
  }
  
  .gallery-section .grid:hover img {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-transform: scale(1.2) rotate(-3deg);
    -moz-transform: scale(1.2) rotate(-3deg);
    -o-transform: scale(1.2) rotate(-3deg);
    -ms-transform: scale(1.2) rotate(-3deg);
    transform: scale(1.2) rotate(-3deg);
  }
  
  .gallery-section .video-play-btn i {
    width: 45px;
    height: 45px;
    background: #428aba;
    display: inline-block;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    position: absolute;
    left: calc(50% - 22.5px);
    top: calc(50% - 22.5px);
  }