
h1 {
  font-weight: bold;
  letter-spacing: 0.125rem;
  font-family: 'Sofia', cursive;
}

h2 {
  font-weight: bold;
  letter-spacing: 0.125rem;
  font-family: 'Sofia', cursive;
}

#font2 {
  font-weight: normal;

}
p{
  font-family: 'Montserrat', sans-serif;
  color: #f9f7f7;
}

.lead {
  font-weight: bold;
  font-family: 'Sofia', cursive;

  letter-spacing: 0.125rem;
  color: #f9f7f7;

}

.display-3{
  color: #f9f7f7;

}

.cover-undangan {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  background-image: url("img/bg3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.cover-undangan.hide {
  transition: opacity 2s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}


/* animasi button */
.buka {
  color: #8f5117;
  opacity: 1;
  -webkit-animation: bounce 0.5s infinite alternate;
  -moz-animation: bounce 0.5s infinite alternate;
  animation: bounce 0.5s infinite alternate;
}
@-webkit-keyframes bounce {
  to {
    -webkit-transform: scale(1.2);
  }
}
@-moz-keyframes bounce {
  to {
    -moz-transform: scale(1.2);
  }
}
@keyframes bounce {
  to {
    transform: scale(1.2);
  }
}



/* =================== Sampul ================ */
#sampul {
  max-width: 400px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
  margin-bottom: 20px;

}

.bg-sampul {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
  background-image: url("img/bg3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.cover-border {
  height: 320px;
  width: 330px;
  margin-left: -170px;
  margin-top: -65px;
  position: absolute;
}

.cover-foto {
  height: 170px;
  width: 150px;
  /* border-radius: 100%; */
  -webkit-filter: grayscale(20%);
  -moz-filter: grayscale(20%);
  -o-filter: grayscale(20%);
  -ms-filter: grayscale(20%);
  filter: grayscale(20%);
  object-fit: cover;
  position: relative;
  border-radius: 3rem 3rem 3rem 3rem;
  box-shadow: 5px 5px 5px 0 #ac7864;

}

.mempelai-foto {
  /* border-radius: 100%; */
  -webkit-filter: grayscale(20%);
  -moz-filter: grayscale(20%);
  -o-filter: grayscale(20%);
  -ms-filter: grayscale(20%);
  filter: grayscale(20%);
  border-radius: 3rem 3rem 3rem 3rem;
  /* box-shadow: 5px 5px 5px 0 #ac7864; */

}

/* ============= mempelai =================== */
#mempelai {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f5f5dc;
  position: relative;
  margin-top: 20px;
  border-radius: 0 0 3rem 3rem;
}
.bg-mempelai {
 
  background-image: url("img/bg4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* =============== quotes ================ */
#quotes {
  max-width: 400px;
  /* margin: 0 auto; */
  margin: 20px auto;
  position: relative;
  font-style: italic;
  background-color: #f5f5dc;
  position: relative;
  border-radius: 0 0 0 0;
}
.bg-quotes {
 
  background-image: url("img/bg4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.frame-quote {
  border: 3px solid #ac4e40;
  position: relative;
  z-index: 9;
}

/* ============= Acara =================== */
#acara {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f5f5dc;
  position: relative;
  margin-top: 20px;
  border-radius: 3rem 3rem 0 0;
}

.frame-acara {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: transparent;
  border: 3px solid #ac4e40;
  border-radius: 25px;
  
  position: relative;
  z-index: 9;
}

/* ============= galery =================== */
#gallery {
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  margin-top: 20px;
  border-radius: 3rem 3rem 3rem 3rem;
}

/* ============= Cerita =================== */
#cerita {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f5f5dc;
  position: relative;
  border-radius: 0 0 3rem 3rem;

}

/* ============= ucapan =================== */
#komentar {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f5f5dc;
  position: relative;
  margin-top: 20px;
}

.bg-komentar {
  border-radius: 3rem 3rem 3rem 3rem;
  background-image: url("img/bg4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* ============= Gift =================== */
#gift {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f5f5dc;
  position: relative;
  margin-top: 20px;
  border-radius: 3rem 3rem 0 0;
}
#card-gift {
    border: 1px solid #ac4e40;
    padding: 10px;
    box-shadow: 0 5px 5px 5px #9f6e5a;
    text-align: center;
  }

/* ============= penutup =================== */
#penutup {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f5f5dc;
  height: 100vh;
  position: relative;
  margin-bottom: 20px;
  border-radius: 0 0 3rem 3rem;

}

/* ============= footer =================== */
#footer {
  height: 15vh;
  position: relative;

}




/* ============== bingkai ================ */
.borid {
  margin-left: 10px;
  margin-right: 10px;
}
#bingkai-atas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

#bingkai-bawah {
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 0;
  right: 0;
}

#bingkai-kiri-bawah {
    position: absolute;
    left: 0;
    pointer-events: none;
    bottom: 0;
}

#bingkai-kiri-atas {
    position: absolute;
    left: 0;
    pointer-events: none;
    top: 0;
}

#bingkai-kanan-atas {
  position: absolute;
  right: 0;
  pointer-events: none;
  top: 0;

}

#bingkai-kanan-bawah {
    position: absolute;
    right: 0;
    pointer-events: none;
    bottom: 0;
    
}


#bingkai-kiri {
  position: absolute;
  top: 200px;
  left: 0;
  pointer-events: none;
}

#bingkai-kanan {
  position: absolute;
  bottom: 200px;
  right: 0;
  pointer-events: none;
}

.frame {
  padding-top: 80px;
  padding-bottom: 100px;
  /* border: 3px solid #d58378;
  border-radius: 100px; */
  position: relative;
  z-index: 9;
}



/* ============ cut down =========== */
#cutd {
  display: inline-block;
  font-size: 1em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  font-family: cinzel-reg;
  color: #ac4e40;
}

#cutd span {
  display: block;
  font-size: 2.5rem;
  font-family: cinzel-reg;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 0.5rem;
}

@media all and (max-width: 768px) {
  h1 {
      font-size: calc(1.5rem * var(--smaller));
  }

  li {
      font-size: calc(1.125rem * var(--smaller));
  }

  li span {
      font-size: calc(3.375rem * var(--smaller));
  }
}


.kc_fab_main_btn {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 999;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
}