@font-face {
  font-family: 'icomoon';
  src:  url('font/icomoon.eot?6865v1');
  src:  url('font/icomoon.eot?6865v1#iefix') format('embedded-opentype'),
    url('font/icomoon.ttf?6865v1') format('truetype'),
    url('font/icomoon.woff?6865v1') format('woff'),
    url('font/icomoon.svg?6865v1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mempelai .path1:before {
  content: "\e900";
  color: #ac4e40;
}
.icon-mempelai .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-mempelai .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-mempelai .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-mempelai .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-story .path1:before {
  content: "\e905";
  color: #ac4e40;
}
.icon-story .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-story .path3:before {
  content: "\e907";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-story .path4:before {
  content: "\e908";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-story .path5:before {
  content: "\e909";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-acara .path1:before {
  content: "\e90a";
  color: #ac4e40;
}
.icon-acara .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-acara .path3:before {
  content: "\e90c";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-acara .path4:before {
  content: "\e90d";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-acara .path5:before {
  content: "\e90e";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-acara .path6:before {
  content: "\e90f";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-acara .path7:before {
  content: "\e910";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-acara .path8:before {
  content: "\e911";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-acara .path9:before {
  content: "\e912";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-acara .path10:before {
  content: "\e913";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-acara .path11:before {
  content: "\e914";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-acara .path12:before {
  content: "\e915";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-acara .path13:before {
  content: "\e916";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-acara .path14:before {
  content: "\e917";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-ucapan .path1:before {
  content: "\e918";
  color: #ac4e40;
}
.icon-ucapan .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-ucapan .path3:before {
  content: "\e91a";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-ucapan .path4:before {
  content: "\e91b";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-ucapan .path5:before {
  content: "\e91c";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-ucapan .path6:before {
  content: "\e91d";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-ucapan .path7:before {
  content: "\e91e";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-ucapan .path8:before {
  content: "\e91f";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-ucapan .path9:before {
  content: "\e920";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-ucapan .path10:before {
  content: "\e921";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-ucapan .path11:before {
  content: "\e922";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-gift .path1:before {
  content: "\e923";
  color: #ac4e40;
}
.icon-gift .path2:before {
  content: "\e924";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-galerry .path1:before {
  content: "\e925";
  color: #ac4e40;
}
.icon-galerry .path2:before {
  content: "\e926";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-galerry .path3:before {
  content: "\e927";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-galerry .path4:before {
  content: "\e928";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-galerry .path5:before {
  content: "\e929";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-galerry .path6:before {
  content: "\e92a";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-galerry .path7:before {
  content: "\e92b";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-galerry .path8:before {
  content: "\e92c";
  margin-left: -1em;
  color: #f4e9e6;
}
.icon-galerry .path9:before {
  content: "\e92d";
  margin-left: -1em;
  color: #f4e9e6;
}
